body{
  margin:0;
  font-family: monospace;
  background-color:rgba(204, 204, 204, 0.21); 
  }
 
#header{
  height:150px;
  background-color:Green;
  color:white;
  margin-top: -17px;
  }

#wrapper-content{
	height:1000px;  
	}

.content{
    margin-top: 40px;
    display:inline-block;
	}
    
.content img{
    width: 150px;
    height: 120px;
    margin-left: 20px;
    background-color: red;
    padding: 1px;
    float: left;
	}

.content h2{
    margin-left: 180px;
    color:#FF5722;
	}

.content h4{
    margin-left: 180px;
	}

.center{
	padding-top:20px;
	text-align:center;
	}

#footer{
     height:30px;
     background-color:green;
     color:white;
     font-size:20px;
     }
        
.banner-text{
     color:blue;
     }